[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
tensorflow = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
torch = "*"
torchvision = "*"
gym-diplomacy = {editable = true,path = "./gym-diplomacy"}
stable-baselines = "*"
protobuf = "*"
baselines = {editable = true,path = "./baselines"}

[requires]
python_version = "3.6"
